/* BookDetails.css */
.book-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
    background-color: #fff;
  }
  
  .book-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .book-author {
    font-weight: bold;
  }
  
  .book-description {
    margin-top: 20px;
  }
  
  .book-image {
    max-width: 100%;
    height: auto;
  }
  