/* UpdateBook.css */

/* Styles for the Update Book Container */
.update-book-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .update-book-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  input[type="number"]{
    border: 2px solid black;
    width: 140px;
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;

  }
  
  input[type="text"],
  textarea {
    border: 2px solid black;
    width: 140px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-radius: 25px;
    height: 19px;
    width: 300px; 
  }
  
  textarea {
    height: 100px; /* Adjust the height as needed */
  }
  
  button {
    background-color: #007bff; /* Button color */
    color: #fff;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Button color on hover */
  }
  
  /* Loading Message */
  .loading-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  